## {{ report_title }}

{{ report_date.strftime("%B %d, %Y") }}

{% if introduction -%}
### Overview
{{ introduction }}
{% endif -%}

{% for report in entity_reports %}
---
{{ report.render() }}
{% endfor %}